@model List<Fiap.Exemplo02.Web.MVC.Models.Pet>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Pets</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Data de Nascimento</th>
            <th>Castrado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            @Html.Partial("_linhaTabela", item);
        }
    </tbody>
</table>

